@use "sass:map";
@import "../../../../style/pages/theme.scss";
@import '~bootstrap/scss/bootstrap';
.header {
  
  background-color: map-get($theme-colors, "mau_a");
  padding: 1rem 0;

  .navbar-toggler {
    border: none;
    color: white;

    &:focus {
      box-shadow: none;
    }
  }

  &__logo {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
  }

  &__nav {
    .header__link {
      color: white;
      text-decoration: none;
      font-size: 1.25rem;

      &:hover {
       
        color: #ffca28;
      }
    }
  }

  &__icons {
    .header__icon {
      color: white;
      font-size: 1.2rem;
      cursor: pointer;

      &:hover {
        color: #ffca28;
      }
    }

    .header__login {
      background: linear-gradient(to right, #ffca28, #ff8f00);
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      border-radius: 0.3rem;
      text-decoration: none;

      &:hover {
        background: linear-gradient(to right, #ff8f00, #ffca28);
      }
    }
  }
}
