@use"sass:map";
@import "../../../../style/pages/theme.scss";
.Sidebar{
  width: 25%;
  
}
.logo{
  margin-bottom: calc(2.5rem);
  margin-top: 1.5rem;
}
.filter-section {
    
    background-color: #f9f9f9;
    padding: 1rem;
   
   
  }
  
  .filter-section h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  
  .filter-tags {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    
  }
  
  .filter-tags span {
    background-color: #f3f3f3;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
  }
  
  .filter-options {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .filter-options h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .filter-price {
    display: block;
    gap: 0.5rem;
    width: 100%;
  }
  .filter-price input{
    width: 1rem;
  }
  .apply{
    color: lightness($color: #781e1e);
    padding: 5px 60px;
    text-align: center;
    align-items: center;
   }
  .mg_bt{
    margin-bottom: 30px;
  }