@use"sass:map";
@import "theme";
html,
body{
    margin: 0;
}
*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-6{
    flex: 0 0 50%;
    max-width : 50%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}