@use"sass:map";
@import "../../../../style/pages/theme.scss";
.book-content {
    width: 75%;
    margin-left: 1rem;
  }
  .catalog-search-bar {
    
    display: flex;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  
    input {
      padding: 0.8rem;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 4px 0 0 4px;
    }
  
    button {
      padding: 0.8rem 1rem;
      border: none;
      background-color: #d32f2f;
      color: white;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
  
      &:hover {
        background-color: #b71c1c;
      }
    }
  }
  .catalog-books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    gap: 1rem;

    .book-item {
      background: #fff;
      padding: 1rem;
      border-radius: 8px;
      text-align: center;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

      img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
        border-radius: 4px;
      }

      h3 {
        font-size: 1rem;
        margin: 0.5rem 0;
      }

      p {
        font-size: 0.9rem;
        color: #666;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    span {
      padding: 0.5rem 1rem;
      margin: 0 0.3rem;
      cursor: pointer;
      background-color: #f7f7f7;
      border-radius: 4px;

      &:hover {
        background-color: #d32f2f;
        color: white;
      }
    }
  }